@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #1f2032;
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(106, 216, 167, 0.8),
        hsla(139, 83%, 36%, 0.8)   
    )!important;
}